
.TodoListItem{
    display: flex;
    align-items: center;
    gap:25px;
    padding-bottom:20px;
    border-bottom: 1px solid #ddd;
    /* background-color: yellow; */
}
.TodoItemList .chkbox{
    width:20px;
}
.TodoItemList .content{
    flex:1;
}
.TodoItemList .wdate{
    font-size:14px;
    color:gray;
}
