.inputCss{
    width: 100%;        
    border: 1px solid #ddd;
    padding: 5px;     
    border:1px solid #ddd;
    border-radius: 5px;
} 
.inputCss:focus{
    outline: none; 
    border: 1px solid salmon;
}